.left-column {
    width: calc(40% - 1px);
    border-right: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.right-column {
    width: 60%;
    -webkit-overflow-scrolling: touch;
}

.main-area {
    display: flex;
    height: calc(100% - 45px);
}

.viewSwitch {
    width: 100%;
}
